/* -------------------------
        RESET.CSS
---------------------------*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* -------------------------
        BASE.CSS
---------------------------*/

body {
    font-family: "Roboto", Helvetica, sans-serif;
}


/* -------------------------
        DEBUG.CSS
---------------------------*/
/* *{
    border: 1px dashed red;
} */


/* -------------------------
        LAYOUT.CSS
---------------------------*/

header {
    background-color: #f8f9fa;
}

.main-section {
    display: flex;
    height: calc(100vh - 50px);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70px;
    background-color: black;
    padding: 10px;
}

main {
    width: calc(100vw - 70px);
    overflow-y: auto;
}

.logo {
    width: 50px;
}

.bg-bright-blue {
    background-color: #1b72e8;
}

.bg-denim-blue {
    background-color: #165bba;
}

.bg-very-light-gray {
    background-color: #f7f7f7;
}
.bg-pink {
    background-color: pink;
}

.bg-coral-red {
    background-color: #f26551;
}

p, h2 {
    margin-bottom: 0px;
}

.next-class, {
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .sidebar {
        width: 90px;
    }
    main {
        width: calc(100vw - 90px);
    }
    .main-header p {
        font-size: 15px;
    }
}

@media screen and (min-width: 992px) {
    .sidebar {
        width: 120px;
    }
    main {
        width: calc(100vw - 120px);
    }
}